.header{
    height: 60px;
    display: flex;
    align-content: center;
    background-color: #0f1111;
    position: sticky;
    top: 0;
    z-index: 100;

}
.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0px 20px;
    margin-top: 18px;
}
.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    max-width: 1000px;
    min-width: 100px;
}
.header_searchIcon{
    padding: 5px;
    background-color: rgb(255, 174, 0);
    height: 22px !important;
}
.header_options{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.header_option{
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
    margin: 17px 10px;
}
.header_optionBasket{
    display: flex;
    align-content: center;
    color: white;
    justify-content: center;
    margin: 17px 10px;
}
.header_optionLineOne{
    font-size: 10px;
}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header_basketCount{
    margin: 0px 10px;
}